@tailwind base;
@tailwind components;
@tailwind utilities;


.modal {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    max-width: 500px;
    margin: auto;
  }
  
  .modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  @keyframes moneyAnimation {
    0% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(-20px); opacity: 0; }
  }
  
  /* Background Money Effect */
  body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('path/to/money-background.png') no-repeat center center fixed;
    background-size: cover;
    z-index: -1;
    opacity: 0.1;
    animation: moneyAnimation 3s infinite linear;
  }
  